/**/

span{margin: 20px;}
.corner-button {
  font-family: 'Lato', sans-serif;
  letter-spacing: .02rem;
  cursor: pointer;
  background: transparent;
  border: 0.1rem solid currentColor;
  padding: 1rem 1.5rem;
  font-size: .9rem;
  color: #95E5AC;
  position: relative;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.corner-button:hover {
  color: #23D1CD;
}
.corner-button:hover::before {
  width: 0;
}
.corner-button:hover::after {
  height: 0;
}
.corner-button:active {
  border-width: 0.25rem;
}
.corner-button span {
  position: relative;
  z-index: 3;
}
.corner-button::before, .corner-button::after {
  content: '';
  position: absolute;
  background: #777777;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.corner-button::before {
  width: calc(100% - 3rem);
  height: calc(101% + 1rem);
  top: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.corner-button::after {
  height: calc(100% - 2rem);
  width: calc(101% + 1rem);
  left: -0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}